<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style type="text/css">
        .twit-txt {
            font-size: 18px;
            font-weight: bold;
        }
        .twit-date {
            color: rgb(128, 128, 128);
            font-size: 12px;
        }
        .twit-head {
            color: rgb(50, 50, 255);
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        .twit-post, .twit-post-btn {
            width: 100%;
            margin-bottom: 5px;
        }
        </style>
    </head>
    <body>
    {% if not user.is_authenticated %}
        <a class="btn btn-info" href="{% url 'twit:twit-login' %}">Twitter Login</a>
    {% else %}
        <div class="row">
            <div class="content col-sm-offset-4 col-sm-4">
                <h1>Hello {{ user }}</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title twit-head">{{ tweets_content.user_detail.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for user in authenticated_user %}
                            <p><a href="{% url 'twit:twit-list' %}?usid={{user.user.id}}">{{ user.user }}</a></p>
                        {% endfor %}
                        <hr>
                        <p class="form-inline">
                            <form method="POST" action="{% url 'twit:twit-add' %}">
                            {% csrf_token %}
                                <!-- <input type="text" class="twit-post form-control" placeholder="Type tweet" name="twit-post-name"> -->
                                <textarea class="twit-post form-control" rows="3" name="twit-post-name"></textarea>
                                <button class="btn btn-info twit-post-btn">Create</button>
                            </form>
                        </p>
                        <hr>
                        {% for tweet in tweets_content.tweets %}
                            <p class="row">
                                <span class="twit-txt col-sm-8">{{ tweet.status }}</span>
                                <span class="twit-date col-sm-3 col-sm-offset-1">{{ tweet.date }}</span>
                            </p>
                            <hr>
                        {% endfor %}
                        <div class="pagination">
                            {% if tweets_content.tweets.has_previous %}
                                <li>
                                    <a href="{% url 'twit:twit-list' %}?page={{ tweets_content.tweets.previous_page_number }}">Prev</a>
                                </li>
                            {% endif %}
                            {% for i in "x"|rjust:tweets_content.tweets.paginator.num_pages %}
                                <li {% if forloop.counter == tweets_content.tweets.number %}class="active"{% endif %}>
                                    <a href="{% url 'twit:twit-list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                </li>
                            {% endfor %}
                            {% if tweets_content.tweets.has_next %}
                                <li>
                                    <a href="{% url 'twit:twit-list' %}?page={{ tweets_content.tweets.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h3>Followers: </h3>
                <ul>
                    {% for follower in tweets_content.followers %}
                        <li>{{ follower.screen_name }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <a href="{% url 'twit:twit-logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    {% endif %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
