{% extends "base.html" %}
{% block twitter %}

    {% if not tweets_content.user_detail %}
        <a class="btn btn-info" href="{% url 'twit:twit-login' %}">Twitter Login</a>
    {% else %}
        <div class="row">
            <div class="content col-sm-offset-4 col-sm-4">
                <h1>Hello {{ user }}</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title twit-head">{{ tweets_content.user_detail.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for user in authenticated_user %}
                            <p><a href="{% url 'twit:twit-list' %}?usid={{user.user.id}}">{{ user.user }}</a></p>
                        {% endfor %}
                        <hr>
                        <p class="form-inline">
                            <form method="POST" action="">
                            {% csrf_token %}
                                <!-- <input type="text" class="twit-post form-control" placeholder="Type tweet" name="twit-post-name"> -->
                                <textarea class="twit-post form-control" rows="3" name="twit-post-name"></textarea>
                                <button class="btn btn-info twit-post-btn">Create</button>
                            </form>
                        </p>
                        <hr>
                        {% for tweet in tweets_content.tweets %}
                            <p class="row">
                                <span class="twit-txt col-sm-8">{{ tweet.status }}</span>
                                <span class="twit-date col-sm-3 col-sm-offset-1">{{ tweet.date }}</span>
                            </p>
                            <hr>
                        {% endfor %}
                        <div class="pagination">
                            {% if tweets_content.tweets.has_previous %}
                                <li>
                                    <a href="{% url 'twit:twit-list' %}?page={{ tweets_content.tweets.previous_page_number }}">Prev</a>
                                </li>
                            {% endif %}
                            {% for i in "x"|rjust:tweets_content.tweets.paginator.num_pages %}
                                <li {% if forloop.counter == tweets_content.tweets.number %}class="active"{% endif %}>
                                    <a href="{% url 'twit:twit-list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                </li>
                            {% endfor %}
                            {% if tweets_content.tweets.has_next %}
                                <li>
                                    <a href="{% url 'twit:twit-list' %}?page={{ tweets_content.tweets.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h3>Followers: </h3>
                <ul>
                    {% for follower in tweets_content.followers %}
                        <li>{{ follower.screen_name }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <a href="{% url 'twit:twit-logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    {% endif %}

{% endblock twitter %}
